.search-input-wrapper {
  border-radius: .5rem;
  background: white;
  display: flex;
  align-items: center;
  border: solid 1px #eee;
  flex-grow: 1;

  input {
    flex-grow: 1;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem 0rem 0rem .5rem;
  }

  button {
    height: 42px;
    display: flex;
    padding: 0rem 1rem;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: .3rem;
    border-radius: 0rem .5rem .5rem 0rem;
    color: var(--primaire);
    border: solid 1px #eee;

    &:hover {
      border: solid 1px #eee;
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  label {
    font-size: .8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #555;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--primaire);
    border: none;
    cursor: pointer;
    border-radius: 100vh;
    padding: .3rem;
    border: solid 1px #eee;

  }
}
