/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --default-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  --primaire-box-shadow: rgba(255, 42, 84, .2) 0px 0px 6px 4px;
  --primaire: rgb(255, 42, 84);
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--primaire) #f9f9f9;
  scrollbar-width: thin;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: #fdfdfd;

}

h1, h2, h3, p, button, input, textarea {
  font-family: inherit;
}

::selection {
  background-color: rgb(255, 255, 255);
  color: var(--primaire);
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaire);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.action-button {
  display: flex;
  justify-content: center;
  align-content: center;

  background-color: white;
  border-radius: 100vh;
  color: var(--primaire);
  border: none;
  box-shadow: var(--default-box-shadow);
  padding: .7rem;
  cursor: pointer;

  &:hover {
    background-color: #f9f9f9;
  }
}
