:host {
  display: block;
  width: 100%;
  max-width: 55ch;



  box-shadow: var(--default-box-shadow);
  background-color: white;
  padding: 2rem;
  border-radius: .5rem;
  flex-grow: 1;
  position: relative;
  border: solid 1px transparent;
  border-left-width: 2px;


  &.focus {
    border-color: #f1f1f1;
    border-left-color: var(--primaire);
    border-left-width: 2px;
    border-radius: 0rem .5rem .5rem 0rem;
  }

  animation: appear 500ms normal;
}

@keyframes appear {
  from { opacity:  0;}
  to { opacity: 1;}
}

.note-header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 1rem;

  .note-info {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: flex-end;

    .author {
      font-weight: 600;
    }

    .date {
      font-style: italic;
    }
  }
}


h3 {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 500;
  font-size: 1.5rem;
  overflow-x: auto;
}

p {
  font-weight: 300;
  color: #333;
  font-size: 1rem;
  line-height: 2rem;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
}

.editable {
  &:focus {
    outline: 2px solid var(--primaire);
    padding: 1rem;
  }

}



.actions-menu {
  z-index: 2;
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - .5rem));
  right: 0;
  display: flex;
  gap: 1rem;
}
